/*body
{
	background-image : url('misc/background.png');
}

h1
{
	color : white !important;
	text-align: center !important;
	margin: auto !important;
	border-bottom: white !important;
	border-bottom-style: dashed !important;
	width: 29% !important;
	padding-bottom: 3% !important;
	border-top: white !important;
	border-top-style: dashed !important;
	padding-top: 3% !important;
	font-weight: 20%;
}

p
{
		color : white !important;
	text-align: center !important;
	margin: auto !important;
	border-bottom: white !important;
	border-bottom-style: dashed !important;
	width: 29% !important;
	padding-bottom: 3% !important;
	border-top: white !important;
	border-top-style: dashed !important;
	padding-top: 3% !important;
	font-weight: 20%;
}*/