body
{
	background-image : url('misc/background.png') !important;
	background-attachment: fixed;
}
h1
{
	color : white !important;
	text-align: center !important;
	margin: auto !important;
	border-bottom: white !important;
	border-bottom-style: dashed !important;
	width: 29% !important;
	padding-bottom: 3% !important;
	border-top: white !important;
	border-top-style: dashed !important;
	padding-top: 3% !important;
	font-weight: 20%;
}
h2
{
	color : white !important;
	text-align: center !important;
	margin: auto !important;
	padding-top: 3% !important;
	padding-bottom: 3% !important;
}
h3
{
	color : white !important;
	text-align: center !important;
	margin: auto !important;
	margin-top: 2% !important;
}
h4
{
	color : white;
}
p
{
	color: white !important;
	text-align: center !important;
	margin: auto !important;
	border-bottom: white !important;
	border-bottom-style: dashed !important;
	width: 29% !important;
	padding-bottom: 1% !important;
	border-top: white !important;
	padding-top: 1% !important;
}
a:link {
color: Gainsboro;
}
a:visited {
color: Gainsboro;
}
a:hover {
color: Gainsboro;
} 
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.container
{
	width: 70% !important;
	padding-top: 10% !important;
}

.search_bar
{
	display: flex;
	padding-top: 3%;
	margin-left: 5%;
	margin-bottom: -2%;
}
.banner
{
	display : flex;
}
.banner_img1
{
	width:10%;
	margin-left: auto;
}
.banner_img2
{
	width:10%;
	margin-right: auto;
}
.banner_img3
{
	width: 10%;
	margin-left: 14%;
	position: fixed;
}
.banner_img4
{
	width: 10%;
	margin-left: 76%;
	position: fixed;
}
.banner_img5
{
	position: fixed;
	width: 3%;
	float: right;
	margin-left: 95%;
}
#search
{
	margin-left: 3px;
}
#movie
{
	margin-left: 10%;
}
#distributor
{
	margin-left: 5%;
}
#date
{
	margin-left: 5%;
}
#genre
{
	margin-left: 5%;
}

.member
{
	display : flex;
	margin-left: 78%;
}
.member_img
{
	width: 10%;
	margin-right: 1%;
	height: 3%;
}

#infos
{
	display: table;
	border-style: dashed;
	border-color: white;
	border-width: 3px;
	padding: 1%;
	margin-left: 10%;
	margin-top: 4%;
}

#history
{
	margin-bottom: 2%;
}
#modify
{
	margin-bottom: 3%;
}
/*.MovieAdd
{
	margin-left: 10%;
	margin-top: 2%;
}*/

.comment
{
	margin-left: 57%;
	margin-top: -5%;
	display: table;
	border-style: dashed;
	border-color: white;
	border-width: 3px;
	padding: 1%;
}
#add
{
	margin-left : 40%;
	margin-top: 3%;
}
#addcomment
{
	line-height: 10;
	width: 100%;
}
.modify_membership
{
	margin-left: 10%;
	margin-top: -6%;
	display: table;
	border-style: dashed;
	border-color: white;
	border-width: 3px;
	padding: 1%;
}
.member_history
{
	display: table;
	border-style: dashed;
	border-color: white;
	border-width: 3px;
	padding: 1%;
	margin-left: 10%;
	margin-top: 4%;
}
#commentarea
{
	margin-top: 3%;
	margin-left: 2%;
}
#info_comment
{
	margin-left: 2%;
}
.prevbutton
{
	font-size: 20px;
	float: left;
}
.nextbutton
{
	font-size: 20px;
	float: right;
}
.numbers
{
	text-align: center;
	display: inline-block;
	margin-left: 0.7em;
	margin-top: 5%;
}